// Susy

$susy: (
    columns:                            12,
    container:                          1700px,
    global-box-sizing:                  border-box
);

// Typography

$base-font-size: 16px;
$base-line-height: 24px;
$relative-font-sizing: true;

// Units

$spacing-s:                             .25 * $base-line-height;
$spacing-m:                             .5 * $base-line-height;
$spacing-l:                             $base-line-height;

// Mixins

@mixin container {
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
}


/* == Support == */

$legacy-support-for-ie8: true;

$spacing-unit: $base-line-height;

$total-columns  : 16;
$column-width   : 5em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;
$break          : 48em 16;

/* == Mixins == */

@mixin body-copy {
    line-height: $base-line-height;
    margin-bottom: $spacing-unit;
}